/*HEADERFONTTI*/
/*<weight>: Use a value from 100 to 900 */
.bitter-font {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.bitter-nav {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.bitter-footer {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/*TUOTENIMIFONTTI*/
.rosarivo-regular {
    font-family: "Rosarivo", cursive;
    font-weight: 600;
    font-style: normal;
}
.rosarivo-regular-italic {
    font-family: "Rosarivo", cursive;
    font-weight: 600;
    font-style: italic;
}
/*TEKSTIT, HINNAT*/
.martel-regular {
    font-family: "Martel", serif;
    font-weight: 600;
    font-style: normal;
}
/*--------------BODY-----------------*/
body {
    background-color: #F3DFA2;
    margin: 0;
}

.indexteksti {
    padding: 1%;
}

/*-----------HEADER & NAV------------*/
header {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    width: 50px;
    display: flex;
    justify-content: left;
}

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6A4F39;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 150%;
}

li a:hover {
    background-color: #000000;
}

.active {
    background-color: #504221;
}

/*--------------FOOTER-------------*/
.footer {
    background-color: #6A4F39;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/*----------------------------------*/
/*PUHELIN*/
@media only screen and (max-width: 420px) {
    body {
        color: inherit;
    }
}
/*TABLETTI*/
@media only screen and (min-width: 421px) {
    body {
        color: inherit;
    }
}
/*TIETOKONE*/
@media only screen and (min-width: 1024px) {
    body {
        color: inherit;
    }
}