/*HEADERFONTTI*/
/*<weight>: Use a value from 100 to 900 */
.bitter-font {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.bitter-nav {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/*TUOTENIMIFONTTI*/
.rosarivo-regular {
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;
}
.rosarivo-regular-italic {
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: italic;
}
/*TEKSTIT, HINNAT*/
.martel-regular {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
}
/*----------------------------------*/

/*Ihan kauhea atm, pitää korjata*/
/*eader {
    position: fixed;
    width: 100%;
    height: 4%;
    font-size: 160%;
    background-color: chocolate;
    display: flex;

}
#etusivu {
    border-style: solid;
    border-color: antiquewhite;
    background-color: brown;
    color:black;
}
#juoma {
    border-style: solid;
    border-color: antiquewhite;
    background-color: brown;
    color:black;
}
#ruoka {
    border-style: solid;
    border-color: antiquewhite;
    background-color: brown;
    color:black;
}*/
/*----------------------------------*/
header {
    margin:0;
}

header img{
    width: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #875e2e;
    display: flex;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 150%;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #000000;
  }


@media only screen and (max-width: 420px) {
    body {
        color: inherit;
    }
}

@media only screen and (min-width: 421px) {
    body {
        color: inherit;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        color: inherit;
    }
}